*{
    margin: 0;
    padding: 0;
}

.root{
    column-count: 5;
}

@media only screen and (max-width:1600px){
    .root{
    column-count: 4;
    }
}
@media only screen and (max-width:1300px){
    .root{
    column-count: 3;
    }
}
@media only screen and (max-width:970px){
    .root{
    column-count: 2;
    }
}
@media only screen and (max-width:500px){
    .root{
    column-count: 1;
    }
}